# exercise 1: print first 10 natural numbers using loop

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

#Exercise 2:print the following pattern
1 

1 2 

1 2 3

In [15]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#Exercise 2: Calculate the sum of all numbers from 1 to given number

In [17]:
n =int (input("Enter number : "))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("Sum is",sum)

Enter number : 10
Sum is 55

#Exercise 4:Write a program to print multiplication table of a given number

In [19]:
n =int (input("Enter number : "))
for i in range(1,11):
  print(n*i)

Enter number : 2
2
4
6
8
10
12
14
16
18
20

#Exercise 5:Display numvers from al ist using loop

In [20]:
numbers=[12,75,150,180,145,525,50]
for i in numbers:
  if i%5==0:
    if 500>i>150:
      continue
    elif i>=500:
      break
    else:
      print(i)

75
150
145

#Exercise 6:count the total number of digits in a number

In [37]:
n=int(input("Enter number:"))
count=0
while n!=0:
  if n/10!=0:
    n=int(n/10)
    count=count+1

print(count)

Enter number:105
3

#Exercise 7:print the followint pattern
5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [44]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j ," ",end='')
  print('')

5  4  3  2  1
4  3  2  1
3  2  1
2  1
1

#Exercise 8:print list in reverse order using a loop

In [47]:
list1=[10,20,30,40,50]
for i in range(4,-1,-1):
  print(list1[i])

50
40
30
20
10

#Exercise 9:display numbers from -10 to -1 using for loop

In [51]:
i=-10
while i<0:
  print(i)
  i=i+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#Exercise 10:Use else block to display a message "Done" after successful execution of for loop

In [52]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

#Exercise 11: Write a program to display all prime numbers within a range

In [53]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

#Exercise 12: Display Fibonacci series up to 10 terms

In [58]:
fib=[0,1,1,0 ,0 ,0,0,0,0,0,0]
print(fib[0],fib[1],fib[2],end=" ")
for i in range(3,10):
  fib[i]=fib[i-1]+fib[i-2]
  print(fib[i],end=" ")

0 1 1 2 3 5 8 13 21 34

#Exercise 13: Find the factorial of a given number

In [64]:
n= int(input("Enter number :"))
sum=1
for i in range(1,n+1):
  sum=i*sum

print(sum)

Enter number :5
120

#Exercise 14: Reverse a given integer number

In [65]:
n=76542

count=0
while n!=0:
  if n/10!=0:
    count=count*10+int(n%10)
    n=int(n/10)
    
print(count)

24567

#Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [66]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i, end=" ")

20 40 60 80 100

#Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [67]:
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

#Exercise 17: Find the sum of the series upto n terms

In [71]:
n = 5
start = 2
sum_seq = 0

for i in range(0, n):
    sum_seq += start
    start = start * 10 + 2

print(sum_seq)

24690

#Exercise 18: Print the following pattern

* 

* * 

* * * 

* * * * 

* * * * * 

* * * * 

* * * 

* * 

*

In [77]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print('')
for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*