<a href="https://colab.research.google.com/github/ziadasal/Data-Engineering-Professional-Zero-Experience-/blob/main/week_3_data_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1: write a program to create a function that takes two arguments ,name and age and print their value.

In [1]:
def add (a,b):
  return a+b
add(3,5)

8

#Exercise 2:Create a function with variable length of arguments

In [3]:
def func(*lis):
  print("Printing Values")
  for i in lis:
    print(i)
func(20,30,40)
func(80,100)

Printing Values
20
30
40
Printing Values
80
100

#Exercise 3:Return multiple values from a function

In [5]:
def calculation (a,b):
  return a+b,a-b

result= calculation(40,10)
print(result)

(50, 30)

#Exercise 4: Create a function with default argument

In [17]:
def show_employee(name,salar=9000):
  print("Name: "+ name + " salary: " +str(salar))

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

#Exercise 5: Create an inner function to calculate the addition in the following way

In [18]:
def outer (a,b):
  def inner(a,b):
    return a+b
  c=inner(a,b)
  c+=5
  return c

outer(1,2)

8

#Exercise 6: Create a recursive function

In [19]:
def sum(a):
  if a==0:
    return 0
  return a+sum(a-1)

sum(10)

55

#Exercise 7: Assign a different name to function and call it through the new name

In [21]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student
display_student("Emma", 26)
show_student("Emma", 26)

Emma 26
Emma 26
Emma 26

#Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [23]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#Exercise 9: Find the largest item from a given list

In [24]:
x = [4, 6, 8, 24, 12, 2]
max(x)

24