<a href="https://colab.research.google.com/github/ziadasal/Data-Engineering-Professional-Zero-Experience-/blob/main/Week4_data_engineer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second

In [ ]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 =[]
for i in range(1,7,2):
  l3.append(l1[i])
for i in range(0,7,2):
  l3.append(l2[i])
l3

[6, 12, 18, 4, 12, 20, 28]

#Exercise 2: Remove and add item in a list

In [ ]:
list1 = [54, 44, 27, 79, 91, 41]
temp = list1[3]
print(list1)
list1.remove(temp)
print("List After removing element at index 4 ", list1)
list1.insert(1,temp)
print("List after Adding element at index 2 ", list1)
list1.append(temp)
print("List after Adding element at last ", list1)

[54, 44, 27, 79, 91, 41]
List After removing element at index 4  [54, 44, 27, 91, 41]
List after Adding element at index 2  [54, 79, 44, 27, 91, 41]
List after Adding element at last  [54, 79, 44, 27, 91, 41, 79]

#Exercise 3: Slice list into 3 equal chunks and reverse each chunk

In [ ]:
#not clean
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
list1=sample_list[0:int(len(sample_list)/3)]
list2=sample_list[int(len(sample_list)/3):2*int(len(sample_list)/3)]
list3=sample_list[2*int(len(sample_list)/3):]
list1.reverse()
list2.reverse()
list3.reverse()
list1.reverse()
print(list1)
print(list2)
print(list3)

[11, 45, 8]
[12, 14, 23]
[89, 45, 78]
[11, 45, 8, 12, 14, 23, 89, 45, 78]

In [ ]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
ChunkSize=int(len(sample_list)/3)
newList=[]

for i in range(3):
  start=(i)*ChunkSize
  end=(i+1)*ChunkSize
  temp=sample_list[start:end]
  print("Chunk ",i+1 , temp)
  temp.reverse()
  print("After reverse " , temp)

Chunk  1 [11, 45, 8]
After reverse  [8, 45, 11]
Chunk  2 [23, 14, 12]
After reverse  [12, 14, 23]
Chunk  3 [78, 45, 89]
After reverse  [89, 45, 78]

#Exercise 4: Count the occurrence of each element from a list

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

freq= {}
for i in sample_list:
  if i in freq:
    freq[i]=freq[i]+1
  else:
    freq[i]=1

freq

{8: 1, 11: 2, 23: 2, 45: 3, 89: 1}

#Exercise 5: Create a Python set such that it shows the element from both lists in a pair

In [ ]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

newSet=set()
for i in first_list:
  if i*i in second_list:
    newSet.add((i,i*i))

newSet

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

#Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set

In [ ]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("Intersection is ",first_set.intersection(second_set))
print("First Set after removing common element ",first_set.difference(second_set))

Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}

#Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [ ]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}


print("First set is subset of second set -",first_set.difference(second_set) ==set())
print("Second set is subset of First set -",first_set.difference(second_set) !=set())
print("First set is Super set of second set -",second_set.difference(first_set) ==set())
print("Second set is Super set of First set -",second_set.difference(first_set) !=set())

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ",first_set)
print("Second Set  ",second_set)

First set is subset of second set - True
Second set is subset of First set - False
First set is Super set of second set - False
Second set is Super set of First set - True
First Set  set()
Second Set   {34, 43, 48, 53, 22, 27, 93}

#Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [ ]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
unwanted=[]
for key,item in sample_dict.items():
  if item in roll_number:
    unwanted.append(item)
    roll_number.remove(item)

print("After removing unwanted elements from list ",roll_number)

After removing unwanted elements from list  [64, 37, 83, 95]

#Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates

In [ ]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

new =set(speed.values())
new= list(new)

print(new)

[44, 47, 52, 53, 54]

#Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [ ]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
newlist = []
for i in sample_list:
  if i not in newlist:
    newlist.append(i)
print("unique items",newlist)
tupl =tuple(newlist)
print("tuple" ,tupl)
print("max",max(newlist))
print("min",min(newlist))

unique items [87, 45, 41, 65, 94, 99]
tuple (87, 45, 41, 65, 94, 99)
max 99
min 41

#Python List Exercise

#Exercise 1: Reverse a list in Python

In [ ]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

#Exercise 2: Concatenate two lists index-wise

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
newlist=[]
for i in range(len(list1)):
  newlist.append(list1[i]+list2[i])
print(newlist)

['My', 'name', 'is', 'Kelly']

#Exercise 3: Turn every item of a list into its square

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
square =[]
for i in numbers:
  square.append(i*i)

square

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
square = [ x*x for x in numbers]
square

[1, 4, 9, 16, 25, 36, 49]

#Exercise 4: Concatenate two lists in the following order

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

newlist=[]
for i in range(len(list1)):
  for j in range (len(list2)):
    newlist.append(list1[i]+list2[j])

print (newlist)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
newlist = [x+y for x in list1 for y in list2 ]
newlist

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

#Exercise 5: Iterate both lists simultaneously

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(4):
  print(list1[i],list2[-1-i])

10 400
20 300
30 200
40 100

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.remove("")
list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1 =list(filter(None, list1))
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

#Exercise 7: Add new item to list after a specified item

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#Exercise 8: Extend nested list by adding the sublist

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

#Exercise 9: Replace list’s item with new value if found

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[list1.index(20)]=200
list1

[5, 10, 15, 200, 25, 50, 20]

#Exercise 10: Remove all occurrences of a specific item from a list.

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list1= list(filter(lambda x:x !=20 ,list1))
list1

[5, 15, 25, 50]

#Python String Exercise with Solutions

#Exercise 1A: Create a string made of the first, middle and last character

In [ ]:
str1 = "James"
str1=str1[0]+str1[int(len(str1)/2)]+str1[-1]
str1

'Jms'

#Exercise 1B: Create a string made of the middle three characters

In [ ]:
def get_middle_three_chars(str1):
    print("Original String is", str1)

    # first get middle index number
    mi = int(len(str1) / 2)

    # use string slicing to get result characters
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)

get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original String is JhonDipPeta
Middle three chars are: Dip
Original String is JaSonAy
Middle three chars are: Son

In [6]:
def getmiddle(str1):
  l=int((len(str1)-3)/2)
  r=((int((len(str1)-3)/2)+3))
  word=str1[l:r]
  print(word)

str1 = "JhonDipPeta"
str2 = "JaSonAy"
getmiddle(str1)
getmiddle(str2)

Dip
Son

#Exercise 2: Append new string in the middle of a given string

In [10]:
s1 = "Ault"
s2 = "Kelly"

l=len(s1)//2
word=s1[0:l]+s2+s2[l:]
word

'AuKellylly'

#Exercise 3: Create a new string made of the first, middle, and last characters of each input string

In [12]:
s1 = "America"
s2 = "Japan"

word=s1[0]+s2[0]+s1[len(s1)//2]+s2[len(s2)//2]+s1[-1]+s2[-1]
word

'AJrpan'

#Exercise 4: Arrange string characters such that lowercase letters should come first

In [25]:
str1 = 'PyNaTive'
word=""
for i in str1 :
  if i>='a' and i<='z':
    word+=i
for i in str1 :
  if i>='A' and i<='Z':
    word+=i

word

'yaivePNT'

#Exercise 5: Count all letters, digits, and special symbols from a given string

In [32]:
str1 = "P@#yn26at^&i5ve"
str1=str1.lower()
char = 0
digits=0
symbols=0
for i in str1:
  if i.islower():
    char+=1
  elif i >='0' and i<='9':
    digits+=1
  else :
    symbols+=1

print(char,digits,symbols)

8 3 4

#Exercise 6: Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

In [35]:
s1 = "Abc"
s2 = "Xyz"
word=""
for i in range(min(len(s1),len(s2))):
  word=word+s1[i]+s2[-1-i]

word

'AzbycX'

#Exercise 7: String characters balance Test
Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

In [43]:
def balanceTest (s1,s2):
  tallest = s1 if len(s1)>len(s2) else s2
  smallest = s1 if len(s1)<len(s2) else s2
  boolen=True
  for i in range(min(len(s1),len(s2))):
    if smallest[i] not in tallest:
      boolen=False
      break
  return boolen
s1 = "Yn"
s2 = "PYnative"
print(balanceTest(s1,s2))

s1 = "Ynf"
s2 = "PYnative"
print(balanceTest(s1,s2))

True
False

#Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
Write a program to find all occurrences of “USA” in a given string ignoring the case.

In [45]:
str1 = "Welcome to USA. usa awesome, isn't it?"
str1=str1.lower()
print("The USA count is:",str1.count('usa'))

The USA count is: 2

#Exercise 9: Calculate the sum and average of the digits present in a string
Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

In [47]:
str1 = "PYnative29@#8496"
num=0
sum=0
for i in str1:
  if i.isdigit():
    num+=1
    sum+=int(i)
print(f"the sum of the digiht {sum} and the avg is {sum/num}")

the sum of the digiht 38 and the avg is 6.333333333333333

#Exercise 10: Write a program to count occurrences of all characters within a string

In [48]:
str1 = "Apple"
dic={}
for i in str1:
  if i in dic.keys():
    dic[i]+=1
  else:
    dic[i]=1

dic

{'A': 1, 'e': 1, 'l': 1, 'p': 2}

#Exercise 11: Reverse a given string

In [49]:
str1 = "PYnative"
print(str1[::-1])

evitanYP

#Exercise 12: Find the last position of a given substring
Write a program to find the last position of a substring “Emma” in a given string

In [55]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
str1.rfind('Emma')

43

#Exercise 13: Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.

In [63]:
str1 = 'Emma-is-a-data-scientist'
str1=str1.split("-")
for i in str1:
  print(i)

Emma
is
a
data
scientist

#Exercise 14: Remove empty strings from a list of strings

In [71]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

new_str_list = list(filter(None, str_list))  
  
new_str_list

['Emma', 'Jon', 'Kelly', 'Eric']

#Exercise 15: Remove special symbols / punctuation from a string

In [73]:
str1 = "/*Jon is @developer & musician"
newstr1=""
for i in str1:
  if i.isalpha() or i==" ":
    newstr1+=i

newstr1.strip()

'Jon is developer  musician'

In [78]:
import string
str1 = "/*Jon is @developer & musician"
newstr1=""

newstr=str1.translate(str.maketrans('', '', string.punctuation))
newstr

'Jon is developer  musician'

#Exercise 16: Removal all characters from a string except integers

In [81]:
str1 = 'I am 25 years and 10 months old'
dig=""
for i in str1:
  if i.isdigit():
    dig+=i
int(dig)

2510

#Exercise 17: Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.

In [86]:
str1 = "Emma25 is Data scientist50 and AI Expert"
temp=str1.split()

res=[]
for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

for i in res:
  print(i)

Emma25
scientist50

#Exercise 18: Replace each special symbol with # in the following string

In [100]:
import string
str1 = '/*Jon is @developer & musician!!'
for i in str1:
  if i in string.punctuation:
    str1=str1.replace(i,"#")
print(str1)

##Jon is #developer # musician##

#Python Tuple Exercise

#Exercise 1: Reverse the tuple

In [103]:
tuple1 = (10, 20, 30, 40, 50)
tuple(reversed(tuple1))

(50, 40, 30, 20, 10)

#Exercise 2: Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.

In [104]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

#Exercise 3: Create a tuple with single item 50

In [110]:
tuple1=(50,)
print(tuple1)

(50,)

#Exercise 4: Unpack the tuple into 4 variables
Write a program to unpack the following tuple into four variables and display each variable.

In [113]:
tuple1 = (10, 20, 30, 40)
a=tuple1[0]
b=tuple1[1]
c=tuple1[2]
d=tuple1[3]
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [114]:
tuple1 = (10, 20, 30, 40)
(a,b,c,d)=tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

#Exercise 5: Swap two tuples in Python

In [117]:
tuple1 = (11, 22)
tuple2 = (99, 88)
temp= tuple1
tuple1=tuple2
tuple2=temp
print(f"tuple 1 {tuple1}")
print(f"tuple 2 {tuple2}")

tuple 1 (99, 88)
tuple 2 (11, 22)

#Exercise 6: Copy specific elements from one tuple to a new tuple
Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

In [120]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
tuple2

(44, 55)

#Exercise 7: Modify the tuple
Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [123]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

#Exercise 8: Sort a tuple of tuples by 2nd item

In [126]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

#Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [127]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

#Exercise 10: Check if all items in the tuple are the same

In [128]:
tuple1 = (45, 45, 45, 45)
print(all(i == tuple1[0] for i in tuple1))

True

#Python Set Exercise

#Exercise 1: Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.

In [133]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
sample_set

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

#Exercise 2: Return a new set of identical items from two sets

In [134]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

#Exercise 3: Get Only unique items from two sets
Write a Python program to return a new set with unique items from both sets by removing duplicates.

In [135]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.update(set2)
set1

{10, 20, 30, 40, 50, 60, 70}

#Exercise 4: Update the first set with items that don’t exist in the second set
Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

In [136]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference(set2)

{10, 30}

#Exercise 5: Remove items from the set at once
Write a Python program to remove items 10, 20, 30 from the following set at once.

In [140]:
set1 = {10, 20, 30, 40, 50}
set1 = {i for i in set1 if i>35} 
set1

{40, 50}

#Exercise 6: Return a set of elements present in Set A or B, but not both

In [142]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 ^ set2

{10, 20, 60, 70}

#Exercise 7: Check if two sets have any elements in common. If yes, display the common elements

In [146]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("no common")
else:
  print(set1.intersection(set2))

{10}

#Exercise 8: Update set1 by adding items from set2, except common items

In [147]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1^set2

{10, 20, 60, 70}

#Exercise 9: Remove items from set1 that are not common to both set1 and set2

In [149]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection(set2)

{30, 40, 50}

#Python Dictionary Exercise

#Exercise 1: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [153]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dic=dict(zip(keys,values))

print(dic)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#Exercise 2: Merge two Python dictionaries into one

In [155]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
dict1

{'Fifty': 50, 'Fourty': 40, 'Ten': 10, 'Thirty': 30, 'Twenty': 20}

#Exercise 3: Print the value of key ‘history’ from the below dict

In [158]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}
sampleDict["class"]["student"]["marks"]["history"]

80

#Exercise 4: Initialize dictionary with default values
In Python, we can initialize the keys with the same values.

In [160]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dic={}
for i in employees:
  dic[i]=defaults
print(dic)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

#Exercise 5: Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

In [162]:
sampleDict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

#Exercise 6: Delete a list of keys from a dictionary

In [168]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for i in keys:
  del sample_dict[i]
sample_dict

{'age': 25, 'city': 'New york'}

#Exercise 7: Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

In [170]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

#Exercise 8: Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.

In [171]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

#Exercise 9: Get the key of a minimum value from the following dictionary

In [172]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict.values())

65

#Exercise 10: Change value of a key in a nested dictionary
Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [173]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}